/* DoctorPage.css */

.doctor-dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: -0.7rem;
}

.doctor-main {
    display: flex;
    flex: 1;
}

.sidebar {
    width: 250px; /* Adjust the width as necessary */
    /*  background-color: #333; Set the sidebar background color */
    padding: 20px;
    color: white;
}

.doctor-content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9fc; /* Matches the background in DoctorPanel */
    overflow-y: auto; /* Allows scrolling if content is long */
}
